<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Countdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Countdown.Properties.Settings>
            <setting name="DateFrom" serializeAs="String">
                <value>02/21/2018 21:00:00</value>
            </setting>
            <setting name="DateTo" serializeAs="String">
                <value>07/31/2018 12:00:00</value>
            </setting>
        </Countdown.Properties.Settings>
    </userSettings>
</configuration>